@import '~antd/dist/antd.css';

.header-background {
    background: transparent;
}

.menu-left {
    float: left;
    position: relative;
    top: 0;
    left: 10%;
    background: transparent;
    width: 43%;
    background-color: rgba(0,0,0,0.5);
}

.menu-right {
    float: right;
    position: absolute;
    top: 0;
    right: 10%;
    background: transparent;
}

.header-menu-text {
    color: white;
}
